<!doctype html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <title></title>
        <meta name="description" content="">

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css">
        <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css">

        <link href='//fonts.googleapis.com/css?family=Merriweather:400,700' rel='stylesheet' type='text/css'>

        <link rel="stylesheet" href="css/main.css">

        <script src="bower_components/console-polyfill/index.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.1/modernizr.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="zombie">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

       <article>
            <header>
                <h1>Haram Ipsum</h1>

                <p>Nam ut ipsum facilisis, bibendum diam at, cursus mauris. Sed lobortis tempor ultrices. Ut faucibus, nisl id suscipit consequat, massa ipsum varius purus, et auctor nisl quam at leo. Sed in vehicula purus. Quisque diam arcu, dapibus et justo a, vulputate posuere purus. Morbi aliquam vitae mauris quis condimentum. Pellentesque ut dignissim nunc, id lacinia velit. Morbi augue lorem, tempus gravida porta nec, molestie sed nunc. Nam tincidunt commodo nisl, vitae auctor urna sodales ac. Nulla augue mi, porttitor quis est in, placerat venenatis neque. Vivamus vulputate arcu at nisi feugiat, in lobortis sapien ornare.</p>

                <p>Morbi vitae erat massa. Sed nibh ligula, vestibulum in tortor id, pulvinar venenatis nisi. Nulla facilisi. Suspendisse potenti. Aliquam semper lobortis tempor. Phasellus at orci libero. Morbi eget quam quis erat venenatis fermentum. Pellentesque consectetur ante nec porta porttitor. Ut tellus orci, cursus eget ornare vitae, pellentesque non arcu. Quisque ut sem in quam egestas vehicula. Phasellus elementum, elit nec venenatis viverra, eros augue malesuada ante, id dignissim neque tortor eget risus. Morbi id consectetur sem. Pellentesque egestas faucibus ligula eu varius.</p>

                <p class="center">Scroll down to explore the timeline</p>

            </header>

            <figure id="map"></figure>

            <section id="timeline"></section>

            <footer>
                <p>Donec interdum enim nec fringilla congue. Nullam placerat mauris quis velit malesuada, a facilisis turpis rhoncus. Praesent vel orci justo. Cras sollicitudin pellentesque orci. Cras convallis nisl sed pretium sagittis. Donec sed est erat. Mauris consequat nunc id dapibus dignissim. Quisque at lacus volutpat metus convallis mollis dictum eget est. Nunc sodales ac quam id elementum. Aliquam sodales lacus non molestie posuere. In aliquet nisl at venenatis placerat. Vestibulum feugiat faucibus commodo. Aenean ultricies et orci eu ultrices.</p>

                <p>© 2014, Al Jazeera.</p>
                <p><small>Map <span></span></small></p>
            </footer>
        </article>

        <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
        <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        <script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>
        <script src="//d3js.org/queue.v1.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/datejs/1.0/date.min.js"></script>
        <script src="//cdn.leafletjs.com/leaflet-0.7.2/leaflet.js"></script>
        <script src='//api.tiles.mapbox.com/mapbox.js/plugins/leaflet-omnivore/v0.1.2/leaflet-omnivore.min.js'></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>

		    <script>JSCLASS_PATH = 'js/JS.Class-4.0.5/src'</script>
		    <script src="js/JS.Class-4.0.5/src/loader-browser.js"></script>

        <script src="bower_components/leaflet-providers/leaflet-providers.js"></script>
        <script src="bower_components/leaflet-heat/dist/leaflet-heat.js"></script>

        <script src="js/main.js"></script>


        <script id="attack" type="text/html">
          <div id="<%= id %>" class="attack">
            <% if (year) { %><h6><%= year %></h6><% } %>
            <time><span class="same-<%= sameMonth %>"><%= month %></span> <%= day %></time>
            <div><span><%= description %></span></div>
          </div>
        </script>

        <script id="event" type="text/html">
          <div id="<%= id %>" class="event">
            <% if (year) { %><h6><%= year %></h6><% } %>
            <time><span class="same-<%= sameMonth %>"><%= month %></span> <%= day %></time>
            <div><span><%= description %></span></div>
          </div>
        </script>

        <script id="displ" type="text/html">
          <div id="<%= id %>" class="event">
            <% if (year) { %><h6><%= year %></h6><% } %>
            <time><span class="same-<%= sameMonth %>"><%= month %></span> <%= day %></time>
            <div><span><%= description %></span></div>
          </div>
        </script>

    </body>
</html>
