<!doctype html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <title></title>
        <meta name="description" content="">

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css">
        <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css">

        <link href='//fonts.googleapis.com/css?family=Merriweather:400,300,700|Merriweather+Sans:800italic,800' rel='stylesheet' type='text/css'>

        <link rel="stylesheet" href="css/main.css">

        <script src="bower_components/console-polyfill/index.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.1/modernizr.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="zombie">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

       <figure id="map"></figure>

       <article>
            <header>
                <h1>Abuses by police and military</h1>

<p>Nigeria’s security forces have been accused of abuses by human rights watchdog groups throughout the government’s campaign against rebel group Boko Haram.</p>

<p>In June 2014, four Nigerian newspapers accused soldiers of raiding their offices, saying the seizure of their papers over “security concerns” amounted to censorship.</p>

<p>At the same time, hundreds of Nigerians are still being held without charge by the police on the basis that they could be connected to Boko Haram.</p>

<p>Navi Pillay, the UN high commissioner for human rights, said the abuses were “openly acknowledged” and that lack of trust in the security forces was alienating the community and creating “fertile ground for Boko Haram to cultivate new recruits".</p>

<p>In a 2012 report, Amnesty International described the security forces in Nigeria as being “out of control” and included accusations of extrajudicial killings, deaths, and bodies being left on roadsides.</p>

<p>Security forces were also accused of burning homes during raids in 2012, performed as part of a Boko Haram crackdown. In the same report, HRW said security forces executed Boko Haram suspects without following any legal procedures, and without solid evidence of the victims’ involvement in the group.</p>

<p>In 2013, Human Rights Watch released images that it claimed showed the military was “engaged more in destruction than protection” while hunting for Boko Haram members in the northern town of Baga.</p>

<p>International media reported that 4,000 houses had been burned and about 200 people had been killed in the raids.</p>

                <p class="center">Scroll down to explore the timeline</p>

            </header>



            <section id="timeline"></section>

            <footer>
                <p>© 2014, Al Jazeera. Written and produced by <a href="https://twitter.com/Flip_Stewart">Philippa Stewart</a> and <a href="https://twitter.com/gridinoc">Laurian Gridinoc</a>.</p>

                <p><small>Map <span></span></small></p>
            </footer>
        </article>

        <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
        <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.4/waypoints.min.js"></script>
        <script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>
        <script src="//d3js.org/queue.v1.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/datejs/1.0/date.min.js"></script>
        <script src="//cdn.leafletjs.com/leaflet-0.7.2/leaflet.js"></script>
        <script src='//api.tiles.mapbox.com/mapbox.js/plugins/leaflet-omnivore/v0.1.2/leaflet-omnivore.min.js'></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>

		    <script>JSCLASS_PATH = 'js/JS.Class-4.0.5/src'</script>
		    <script src="js/JS.Class-4.0.5/src/loader-browser.js"></script>

        <script src="bower_components/leaflet-providers/leaflet-providers.js"></script>

        <script src="js/main.js"></script>


        <script id="attack" type="text/html">
          <div id="<%= id %>" class="attack">
            <% if (year) { %><h6><%= year %></h6><% } %>
            <time class="sameDate-<%= sameDate %>"><span class="sameMonth-<%= sameMonth %>"><%= month %></span> <%= day %></time>
            <div>
              <span>
                <span class="sc">attack</span>
                <small>
                <br>
                <%= location %>
                <% if (injured || killed) { %>
                <br>
                <% } %>
                <% if (injured) { %>
                <%= injured %> injured
                <% } %>
                <% if (killed) { %>
                <% if (injured) { %>,<% } %>
                <%= killed %> killed
                <% } %>
                <br>&nbsp;<br>
                </small>
                <%= description %>
              </span>
            </div>
          </div>
        </script>

        <script id="event" type="text/html">
          <div id="<%= id %>" class="event">
            <% if (year) { %><h6><%= year %></h6><% } %>
            <time class="sameDate-<%= sameDate %>"><span class="sameMonth-<%= sameMonth %>"><%= month %></span> <%= day %></time>
            <div><span><span class="sc">info</span><br><%= description %></span></div>
          </div>
        </script>

        <script id="displ" type="text/html">
          <div id="<%= id %>" class="displ">
            <% if (year) { %><h6><%= year %></h6><% } %>
            <time class="sameDate-<%= sameDate %>"><span class="sameMonth-<%= sameMonth %>"><%= month %></span> <%= day %></time>
            <div>
              <span>
                <span class="sc"><%= dType %> displacement</span>
                <small>
                <br>
                <span class="sc">from </span>
                <br>
                <%= from %>
                <% if (to) { %>
                <br>
                <span class="sc">to </span>
                <br>
                <%= to %>
                <% } %>
                <br><span class="sc">due to</span><br>
                </small>
                <%= description %>
              </span>
            </div>
          </div>
        </script>

    </body>
</html>
